html {
    scroll-behavior: smooth;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project {
    border: 1px solid var(--text-color);
    margin: 10px;
    padding: 20px;
    flex-basis: calc(50% - 20px);
    box-sizing: border-box;
}

body::after {
    content: "";
    background: var(--bg-image); 
    background-repeat: no-repeat;
    background-attachment: fixed; /* Keep the background image fixed while scrolling */
    background-position: center center;
    background-size: cover;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    position: fixed; /* Ensure the background image stays fixed */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-color);
    background-color: var(--bg-color);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.navbar {
    background-color: var(--navbar-bg-color);
    overflow: hidden;
    border-bottom: 2px solid white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.navbar a {
    float: left;
    display: block;
    color: var(--navbar-text-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.5s ease;
}

.navbar a:hover {
    background-color: var(--navbar-text-color);
    color: var(--bg-color);
}

:root[data-theme='light'] {
    --bg-color: white;
    --text-color: black;
    --navbar-bg-color: #f2f2f2;
    --navbar-text-color: #333;
    --bg-image: url('assets/lightbg.png');
    --box-shadow: 0 0 10px black;
    --switch-color: white; 
    --switch-color: black;
    --icon-color: black;
    --slider-circle-color: white;
    --h1-color: #000;
    --navbar-border-color: rgb(0, 0, 0);
}

:root[data-theme='dark'] {
    --bg-color: black;
    --text-color: white;
    --navbar-bg-color: #333;
    --navbar-text-color: #f2f2f2;
    --bg-image: url('assets/darkbg.png');
    --box-shadow: none;
    --switch-color: black; 
    --switch-color: white;
    --icon-color: white;
    --slider-circle-color: black;
    --h1-color: #fff;
    --navbar-border-color: rgb(255, 255, 255);
}
body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--navbar-bg-color);
    border: 2px solid var(--navbar-border-color); 
    border-radius: 10px;
    overflow: hidden;
    justify-content: space-between;
}

@keyframes colorChange {
    0% { -webkit-text-stroke-color: #0000ff; }
    50% { -webkit-text-stroke-color: #00ff00; }
    100% { -webkit-text-stroke-color: #ff0000; }
}

.navbar a {
    color: var(--navbar-text-color);
}

.navbar a:nth-child(5) {
    font-weight: bold;
    margin: 0 auto;
    -webkit-text-stroke-width: 1px;
    animation: colorChange 2s infinite alternate;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 5px 10px 0 0;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    background-color: var(--switch-color);
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    background-color: var(--slider-circle-color);
}

input:checked + .slider {
    background-color: var(--switch-color);
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#cursor {
    color: #0f0; 
}

h1 {
    color: var(--h1-color);
    text-align: center;
    text-shadow: 
        -1px 0 1px rgba(255, 255, 255, 0.1),
        0 1px 1px rgba(255, 255, 255, 0.1),
        1px 0 1px rgba(255, 255, 255, 0.1),
        0 -1px 1px rgba(255, 255, 255, 0.1),
        -2px 0 1px rgba(255, 255, 255, 0.3),
        0 2px 1px rgba(255, 255, 255, 0.3),
        2px 0 1px rgba(255, 255, 255, 0.3),
        0 -2px 1px rgba(255, 255, 255, 0.3);
}

body {
    font-family: 'Ubuntu', sans-serif;
}

.project-sections {
    position: absolute;
    top: calc(50% + 100px); /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%; /* Adjust as needed */
}

.project {
    width: calc(50% - 20px); /* Adjust as needed */
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease; /* Added for hover effect */
    border: none; /* Removed the black border */
}

.project h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center; /* Added to center the text */
}

.project p {
    font-size: 18px;
}

.project:hover {
    transform: translateY(-5px); /* Added for hover effect */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Added for hover effect */
}

:root[data-theme='light'] .project {
    background-color: white;
    color: black;
}

:root[data-theme='dark'] .project {
    background-color: #000000;
    color: white;
}

:root {
    --hover-color-light: rgba(0, 0, 0, 0.2); /* Light mode hover color */
    --hover-color-dark: rgba(255, 255, 255, 0.2); /* Dark mode hover color */
}

.project:hover {
    transform: translateY(-5px); /* Added for hover effect */
    box-shadow: 0 6px 12px var(--hover-color-light); /* Light mode hover effect */
}

:root[data-theme='dark'] .project:hover {
    box-shadow: 0 6px 12px var(--hover-color-dark); /* Dark mode hover effect */
}

/* Define scrollbar colors for light and dark mode */
:root {
    --scrollbar-thumb-light: #888; /* Light mode scrollbar thumb color */
    --scrollbar-track-light: #f2f2f2; /* Light mode scrollbar track color */
    --scrollbar-thumb-dark: #555; /* Dark mode scrollbar thumb color */
    --scrollbar-track-dark: #333; /* Dark mode scrollbar track color */
}

/* Customize the scrollbar */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

/* Customize the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-light); /* Set default color based on light mode */
    border-radius: 0px; /* Border radius of the scrollbar thumb */
}

/* Customize the scrollbar track */
::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-light); /* Set default color based on light mode */
}

/* Dark mode styles */
:root[data-theme='dark'] ::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-dark); /* Set color for dark mode */
}

:root[data-theme='dark'] ::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-dark); /* Set color for dark mode */
}

