html {
    scroll-behavior: smooth;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project {
    border: 1px solid var(--text-color);
    margin: 10px;
    padding: 20px;
    flex-basis: calc(50% - 20px);
    box-sizing: border-box;
}

body::after {
    content: "";
    background: var(--bg-image); 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-color);
    background-color: var(--bg-color);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.navbar {
    background-color: var(--navbar-bg-color);
    overflow: hidden;
    border-bottom: 2px solid white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.navbar a {
    float: left;
    display: block;
    color: var(--navbar-text-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.5s ease;
}

.navbar a:hover {
    background-color: var(--navbar-text-color);
    color: var(--bg-color);
}

:root[data-theme='light'] {
    --bg-color: white;
    --text-color: black;
    --navbar-bg-color: #f2f2f2;
    --navbar-text-color: #333;
    --bg-image: url('assets/lightbg.png');
    --box-shadow: 0 0 10px black;
    --switch-color: white; 
    --switch-color: black;
    --icon-color: black;
    --slider-circle-color: white;
    --h1-color: #000;
    --navbar-border-color: rgb(0, 0, 0);
}

:root[data-theme='dark'] {
    --bg-color: black;
    --text-color: white;
    --navbar-bg-color: #333;
    --navbar-text-color: #f2f2f2;
    --bg-image: url('assets/darkbg.png');
    --box-shadow: none;
    --switch-color: black; 
    --switch-color: white;
    --icon-color: white;
    --slider-circle-color: black;
    --h1-color: #fff;
    --navbar-border-color: rgb(255, 255, 255);
}
body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--navbar-bg-color);
    border: 2px solid var(--navbar-border-color); 
    border-radius: 10px;
    overflow: hidden;
    justify-content: space-between;
}

@keyframes colorChange {
    0% { -webkit-text-stroke-color: #0000ff; }
    50% { -webkit-text-stroke-color: #00ff00; }
    100% { -webkit-text-stroke-color: #ff0000; }
}

.navbar a {
    color: var(--navbar-text-color);
}

.navbar a:nth-child(5) {
    font-weight: bold;
    margin: 0 auto;
    -webkit-text-stroke-width: 1px;
    animation: colorChange 2s infinite alternate;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 5px 10px 0 0;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    background-color: var(--switch-color);
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    background-color: var(--slider-circle-color);
}

input:checked + .slider {
    background-color: var(--switch-color);
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#cursor {
    color: #0f0; 
}

h1 {
    color: var(--h1-color);
    text-align: center;
    text-shadow: 
        -1px 0 1px rgba(255, 255, 255, 0.1),
        0 1px 1px rgba(255, 255, 255, 0.1),
        1px 0 1px rgba(255, 255, 255, 0.1),
        0 -1px 1px rgba(255, 255, 255, 0.1),
        -2px 0 1px rgba(255, 255, 255, 0.3),
        0 2px 1px rgba(255, 255, 255, 0.3),
        2px 0 1px rgba(255, 255, 255, 0.3),
        0 -2px 1px rgba(255, 255, 255, 0.3);
}

body {
    font-family: 'Ubuntu', sans-serif;
}

