* {
  font-family: Source Code Pro;
  color: #FFFFFF;
}

body {
  background-image: url("hnnd164yyq281.png")
}

h1 {
  font-weight: bold;
  font-size: 30px;
}

h2 {
  font-weight: bold;
  font-size: 20px;
}


