* {
  font-family: Source Code Pro;
  text-stroke: 4px peru;
}

body {
  background-image: url("hnnd164yyq281.png")
}

h1 {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: #00ff00;
  background: 1px black;
}

h2 {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #00ff00;
  background: 1px black;
}

h3 {
  font-weight: bold;
  font-size: 15px;
  color: #;
  text-align: center;
  background: 1px black;
}

.links {
  color: #ff0000;
  text-shadow: #FFFFFF;
  text-align: center;
}

p {
  text-decoration: none;
  font-weight: normal;
  text-align: center;
}

div {
  .plans {
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
  }
  .plantext {
  /* font-weight: bold; */
  text-align: center;
  }
}

h3 {
  font-weight: bold;
  font-size: 15px;
  text-shadow: #00ff00;
}

.drive {
  p{
  color: #FFFFFF;
  font-weight: bold;
  font-size: 15px;
   }
}

.campus {
  font-weight: bold;
}

