* {
  font-family: Source Code Pro;
  color: #FFFFFF;
}

body {
  background-image: url("hnnd164yyq281.png")
  background-size: cover;
  background-contain: no-repeat;
}

h1 {
  font-weight: bold;
  font-size: 30px;
}

h2 {
  font-weight: bold;
  font-size: 20px;
}

h3 {
  font-weight: bold;
  font-size: 15px;
}

div {
  color: #ADD8E6;
}

p {
  text-decoration: underline;
  font-weight: bold;
}

div {
  p {
    color: #FFFFFF;
  }
}

h3 {
  font-weight: bold;
  font-size: 15px;
}

div {
  p {
    font-weight: bold;
    font-size: 15;
  }
}


