/* Enable smooth scrolling */
html {
    scroll-behavior: smooth;
}

/* Style the project boxes */
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project {
    border: 1px solid #000;
    margin: 10px;
    padding: 20px;
    flex-basis: calc(50% - 20px);
    box-sizing: border-box;
}

/* Set the background image and blur it */
body::after {
    content: "";
    background: url('../assets/hnnd164yyq281.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Create a centered text box with a black background */
.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: black;
    padding: 20px;
    text-align: center;
    border-radius: 10px; /* Add this line */
}

/* Style the navigation bar */
.navbar {
    background-color: #333;
    overflow: hidden;
}

/* Style the navigation links */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the color of links on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}